* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

:global(.page) {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:global(.main) {
  margin: 0 auto;
  height: 100%;
  width: 960px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
