$maxHeight: calc(100vh - 50px);

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  box-sizing: border-box;
  width: 100vw;
  background: url('https://titor-robot.oss-cn-shanghai.aliyuncs.com/poetry/home/home_bg.png?x-oss-process=style/thumbnail_style')
    center;
}

.header {
  background-color: #7166ba;
  width: 100%;
  height: 50px;

  @extend .flex-center;
  align-items: flex-start;
}

.slug {
  width: 100px;
  text-align: center;
}

.main {
  height: $maxHeight;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu {
  width: 10%;
  height: $maxHeight;
  background-color: #393f51;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menuItem {
  width: 100%;
  height: 40px;
  text-align: center;

  color: #ffffff60;
  line-height: 40px;

  &:hover {
    background-color: #00000040;
    color: #fff;
  }
}

.content {
  width: 60%;
  height: $maxHeight;
  overflow-y: scroll;
}

.card {
  position: relative;
  margin: 10px 20px;
  padding: 20px;
}

.aside {
  width: 30%;
  height: 100%;
  background-color: #fff;
}

.editBox {
  z-index: 1000;
  position: fixed;
  right: 100px;
  bottom: 100px;
  background-color: rosybrown;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 0 4px 4px #00000040;

  @extend .flex-center;

  &:hover {
    cursor: pointer;
  }

  .edit {
    color: #fff;
    font-size: 1rem;
  }
}

@media (max-width: 900px) and (min-width: 100px) {
  .page {
    padding: 0;
  }

  .aside,
  .menu {
    display: none;
  }

  .content {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .page {
    padding: 0 15vw;
  }
}
