@import '../../help/uitl.scss';

$menuHeight: 56px;

.page {
  box-sizing: border-box;
  background: #fff;
  width: 100vw;
  height: 100vh;
}

.main {
  @include main();
  flex-direction: column;
}

.menu {
  width: 100%;
  height: $menuHeight;
  background: #c41d7f;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuItem {
  width: 128px;
  height: $menuHeight;
  text-align: center;

  color: #fff;
  line-height: $menuHeight;
  text-decoration: none;

  &:hover {
    background: #9e1068;
  }
}

.content {
  width: 100%;
  height: 100%;
  background: #ffd6e7;

  @include flexCenter();
}
